* {
    margin: 0;
    padding: 0;
}

.grid-conteiner {
    height: 800px;
    display: grid;
    grid-template-areas: 'header header'
                         'aside main'
                         'footer footer';
    grid-template-rows: 6% auto 5%;
    grid-template-columns: 20% 80%;
       
}

.header {
    grid-area: header;
    border-bottom: solid 2px #9fcae84f;
    background-color: #5781a630;
}

.titulo {
   display: flex;
   flex-direction: row;
   margin: 2px;
   justify-content: center;
   align-items: center;
}

.aside {
    grid-area: aside;
    border-right: solid 2px #9fcae84f;
    background-color: #d0d0d0;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: safe center;
    text-align: start;
    font-size: large;
    color: rgb(113, 122, 148);
}

a {
    margin: 2px;
}

.main {
    grid-area: main;
    background-color: white;
}

.footer {
    grid-area: footer;
    border-top: solid 2px #9fcae84f;
    background-color: #5781a630;
}

.footer h4{
    text-align: center;
}